.row {

  margin-top: 5%;

}

.container {

  overflow: hidden;

}

p, h1, h2 {

  color: white;
  font-family: 'Londrina Solid', cursive;

}

p {

  text-align: justify;
  font-size: 3rem;
  font-weight: 300;

}

.header {

  font-size: 14rem;

}


/* FRAME 1 */

.frame1 {

  background-color: #E79600;
  height: 100vh;
  object-fit: cover;
  overflow-y: hidden;

}

#introgroup1 {

  margin: -1%;

}

#oregonstar {

  padding-right: 10%;
  width: 40%;
  float: left;

}

#intro {

  padding-top: 3.5%;

}

.date {

  text-align: center;
  font-size: 14rem;
  margin-top: -5%;

}

.year {

  text-align: center;
  font-size: 50rem;
  font-weight: 200;
  margin-top: -15%;
  margin-bottom: -9%;

}

#intro {

  line-height: 4rem;
  font-size: 2.5rem;
  font-weight: 300;
  text-align: justify;

}

/* FRAME 1 MEDIA QUERIES */

@media only screen and (max-width: 1000px) {

  .date {

    font-size: 12rem;

  }

  .year {

    margin-right: 0%;
    margin-left: 0%;

  }

  #oregonstar {

    padding: 15%;
    width: 100%;
    float: none;
    display: block;
    margin: auto;

  }

  #intro {

    font-size: 6rem;
    line-height: 8rem;

  }

  #introgroup1 {

    text-align: center;

  }

}



/* FRAME 2 */

.frame2 {

  background-color: #EA4901;
  height: 100vh;
  object-fit: cover;
  overflow-y: hidden;

}

#f2c1 {

  padding-top: 10%;

}

#f2h1 {

  margin-top: -30%;
  font-size: 10rem;

}

/* FRAME 2 MEDIA QUERIES */

@media only screen and (max-width: 1000px) {

  p {

    font-size: 6rem;
    line-height: 8rem;

  }

  #asset1 {

    width: 100%;
    margin-top: 4%;
    margin-bottom: 10%;

  }

  #f2c1 {

    width: 100%;
    margin-left: 10%;
    margin-right: 20%;

  }

}

/* FRAME 3 */

.frame3 {

  background-color: #3D5B65;
  height: 200vh;
  object-fit: cover;
  overflow-y: hidden;

}

#f3c1 {

  margin-top: 15%;

}

#f3h1 {

  color: #E79600;
  transform: rotate(-3deg);

}

#f3c2 {

  margin:0%;
  padding: 0%;

}

#asset6 {

  width: 50%;

}

/* FRAME 3 ANIMATIONS/TRANSITIONS */

#asset6 {

  position: relative;
  top: 50%;
  left: -100px;
  animation-name: move-image;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

}

@keyframes move-image {
 
  0% {

    left: -1000px;

  }

  100% {

    left: calc(100% + 100px);

  }

}

/* FRAME 3 MEDIA QUERIES */

@media only screen and (max-width: 1000px) {

  #asset6 {

    width: 100%;

  }

  #f3h1 {

    margin:5%;
    font-size: 11rem;

  }

  .frame3 {

    height: 150vh;

  }

}



/* FRAME 4 */

.frame4 {

  background-color: #4A7736;
  height: 100vh;
  object-fit: cover;
  overflow-y: hidden;

}

#f4h1 {

  font-size: 30rem;
  font-weight: 500;
  transform: rotate(2deg);

}

#asset15 {

float: right; 

}

@media only screen and (max-width: 1000px) {

  #f4c1, #f4c2, #f4h1 {

    margin-top:-15%;
    font-size: 5rem;
    line-height: 4rem;
    width: 100%;

  }

}


/* FRAME 5 */

.frame5 {

  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;

}

#f5c1 {

  color: black;
  margin: 10%;

}

#asset3 {

  margin-top: -10%;

}

@media only screen and (max-width: 1000px) {

  #f5c1 {

    font-size: 5rem;
    line-height: 5rem;
    margin-top: 45%;

  }

  #asset3 {

    width: 70%;
    margin-top: 40%;

  }

}


/* FRAME 6 */

.frame6 {

  background-color: #EA4901;
  height: 100vh;
  object-fit: cover;
  overflow-y: hidden;

}

#asset4 {

  height:500px;

}

#f6c1 {

  margin-top: 5%;

}


/* FRAME 7 */

.frame7 {

  background-color: #E79600;
  height: 100vh;
  object-fit: cover;
  overflow-y: hidden;

}

#f7c1 {

  margin-top: -200%;

}

#asset0 {

  width: 100 vw;

}


/* FRAME 8 */

.frame8 {

  background-color: #3D5B65;
  height: 200vh;
  object-fit: cover;
  overflow-y: hidden;

}


/* FRAME 9 */

.frame9 {

  background-color: #2A2A2C;
  height: 100vh;
  object-fit: cover;
  overflow-y: hidden;

}


/* FRAME 10 */

.frame10 {

  background-color: #4A7736;
  height: 100vh;
  object-fit: cover;
  overflow-y: hidden;

}


/* FRAME 11 */

.frame11 {

  background-color: white;
  height: 100vh;
  object-fit: cover;
  overflow-y: hidden;

}


/* FRAME 12 */

.frame12 {

  background-color: #E79600;
  height: 100vh;
  object-fit: cover;
  overflow-y: hidden;

}


/* FRAME 13 */

.frame13 {

  background-color: #D93222;
  height: 100vh;
  object-fit: cover;
  overflow-y: hidden;

}
